.test-figur{
  background-color: green;
  color: white;

}

.figur {
  position: absolute;
  display: block;
}

.figur-quadrat {
  width: 100px;
  height: 100px;
}

.figur-lang {
  width: 50px;
  height: 200px;
  margin-left: 150px;
}

.figur-dreierspitz {
  width: 150px;
  height: 100px;
  margin-left: 250px;
}
