.test-figur{
  background-color: green;
  color: white;

}

.figur {
  position: absolute;
  display: block;
  opacity: 0;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);}

.figur:hover{
  animation-name: rotate90;
  animation-duration: 100ms; /* or: Xms */
  animation-iteration-count: 2;
  animation-direction: normal; /* or: normal */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 200ms; /* or: Xms */
}

.figur .block{
  background-color: #8ea2de;
}

.figur-quadrat {
  width: 100px;
  height: 100px;
}

.figur-lang {
  width: 50px;
  height: 200px;
  margin-left: 150px;
}
.figur-lang .block{
  background-color: #74ccde;
}

.figur-dreierspitz {
  width: 150px;
  height: 100px;
  margin-left: 250px;
}

.figur-dreierspitz .block{
  background-color: #637b80;
}

.figur-zhochrechts {
  width: 100px;
  height: 150px;
  margin-left: 450px;
}
.figur-zhochrechts .block{
  background-color: #93bede;
}

.figur-zhochlinks {
  width: 100px;
  height: 150px;
  margin-left: 600px;
}
.figur-zhochlinks .block{
  background-color: #7ade89;
}

.figur-lrechts {
  width: 100px;
  height: 150px;
  margin-left: 750px;
}
.figur-lrechts .block{
  background-color: #9aa3de;
}

.figur-llinks {
  width: 100px;
  height: 150px;
  margin-left: 900px;
}

.container-tetrisschrift {
  width: 1550px;
  height: 250px;
  margin-top: 300px;
  position: relative;
}

.fuenferspalte {
  width: 50px;
  height: 250px;
  position: relative;
  float: left;
}

.abstandlinks100{
  margin-left: 100px;
}

.abstandlinks50{
  margin-left: 50px;
}
