body{
  background-color: black;
}

.test-effects{
  background-color: green;
  color: white;
}

.display-test{
  margin: 5px;
  font-family: sans-serif;

}
.display-test span.test {
  padding: 10px;
  border: solid 1px gray;
}

.test-main{
  background-color: green;
  color: white;

}

#figur-test {
  position: absolute;
  left: 100px;
  width: 100px;
  height: 100px;
  display: block;


}
.playground {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  height: 850px;
  width: 1550px;
}
