.display-test{
  margin: 5px;
  font-family: sans-serif;

}
.display-test span.test {
  padding: 10px;
  border: solid 1px gray;
}

.test-main{
  background-color: green;
  color: white;

}

.playground {
  position: relative;
  margin-top: 100px;
  margin-left: 100px;
  border: solid 1px silver;
  height: 850px;
  width: 1550px;
}
