.display-test{
  margin: 5px;
  font-family: sans-serif;

}
.display-test span.test {
  padding: 10px;
  border: solid 1px gray;
}

.test-main{
  background-color: green;
  color: white;

}

.playground {
  margin-top: 200px;
  margin-left: 200px;
}
