
<div id="figur-quadrat" class="figur figur-quadrat" style="display: none">
    <div class="block s1 z1"></div>
    <div class="block s2 z1"></div>
    <div class="block s1 z2"></div>
    <div class="block s2 z2"></div>
</div>

<div id="figur-lang" class="figur figur-lang" style="display: none">
    <div class="block s1 z1"></div>
    <div class="block s1 z2"></div>
    <div class="block s1 z3"></div>
    <div class="block s1 z4"></div>
</div>

<div id="figur-dreierspitz" class="figur figur-dreierspitz" style="display: none">
    <div class="block s1 z2"></div>
    <div class="block s2 z1"></div>
    <div class="block s2 z2"></div>
    <div class="block s3 z2"></div>
</div>

<div id="figur-zhochrechts" class="figur figur-zhochrechts" style="display: none">
    <div class="block s1 z2"></div>
    <div class="block s1 z3"></div>
    <div class="block s2 z2"></div>
    <div class="block s2 z1"></div>
</div>

<div id="figur-zhochlinks" class="figur figur-zhochlinks" style="display: none">
    <div class="block s1 z1"></div>
    <div class="block s1 z2"></div>
    <div class="block s2 z2"></div>
    <div class="block s2 z3"></div>
</div>

<div id="figur-lrechts" class="figur figur-lrechts" style="display: none">
    <div class="block s1 z1"></div>
    <div class="block s1 z2"></div>
    <div class="block s1 z3"></div>
    <div class="block s2 z3"></div>
</div>

<div id="figur-llinks" class="figur figur-llinks" style="display: none">
    <div class="block s2 z1"></div>
    <div class="block s2 z2"></div>
    <div class="block s2 z3"></div>
    <div class="block s1 z3"></div>
</div>
