<div class="container-tetrisschrift">

    <!-- T -->
    <div class="fuenferspalte abstandlinks100">
        <div class="block s1 z1"></div>
    </div>
    <div class="fuenferspalte">
        <div class="block s1 z1"></div>
        <div class="block s1 z2"></div>
        <div class="block s1 z3"></div>
        <div class="block s1 z4"></div>
        <div class="block s1 z5"></div>
    </div>
    <div class="fuenferspalte">
        <div class="block s1 z1"></div>
        <div class="block s1 z2"></div>
        <div class="block s1 z3"></div>
        <div class="block s1 z4"></div>
        <div class="block s1 z5"></div>
    </div>
    <div class="fuenferspalte">
        <div class="block s1 z1"></div>
    </div>

    <!-- E -->
    <div class="fuenferspalte abstandlinks50">
        <div class="block s1 z1"></div>
        <div class="block s1 z2"></div>
        <div class="block s1 z3"></div>
        <div class="block s1 z4"></div>
        <div class="block s1 z5"></div>
    </div>
    <div class="fuenferspalte">
        <div class="block s1 z1"></div>
        <div class="block s1 z2"></div>
        <div class="block s1 z3"></div>
        <div class="block s1 z4"></div>
        <div class="block s1 z5"></div>
    </div>
    <div class="fuenferspalte">
        <div class="block s1 z1"></div>
        <div class="block s1 z3"></div>
        <div class="block s1 z5"></div>
    </div>
    <div class="fuenferspalte">
        <div class="block s1 z1"></div>
        <div class="block s1 z3"></div>
        <div class="block s1 z5"></div>
    </div>

    <!-- T -->
    <div class="fuenferspalte abstandlinks50">
        <div class="block s1 z1"></div>
    </div>
    <div class="fuenferspalte">
        <div class="block s1 z1"></div>
        <div class="block s1 z2"></div>
        <div class="block s1 z3"></div>
        <div class="block s1 z4"></div>
        <div class="block s1 z5"></div>
    </div>
    <div class="fuenferspalte">
        <div class="block s1 z1"></div>
        <div class="block s1 z2"></div>
        <div class="block s1 z3"></div>
        <div class="block s1 z4"></div>
        <div class="block s1 z5"></div>
    </div>
    <div class="fuenferspalte">
        <div class="block s1 z1"></div>
    </div>



    <!-- R -->
    <div class="fuenferspalte abstandlinks50">
        <div class="block s1 z1"></div>
        <div class="block s1 z2"></div>
        <div class="block s1 z3"></div>
        <div class="block s1 z4"></div>
        <div class="block s1 z5"></div>
    </div>
    <div class="fuenferspalte">
        <div class="block s1 z1"></div>
        <div class="block s1 z3"></div>
    </div>
    <div class="fuenferspalte">
        <div class="block s1 z1"></div>
        <div class="block s1 z3"></div>
        <div class="block s1 z4"></div>
    </div>
    <div class="fuenferspalte">
        <div class="block s1 z1"></div>
        <div class="block s1 z2"></div>
        <div class="block s1 z3"></div>
        <div class="block s1 z5"></div>
    </div>

    <!-- I -->
    <div class="fuenferspalte abstandlinks50">
        <div class="block s1 z1"></div>
        <div class="block s1 z3"></div>
        <div class="block s1 z4"></div>
        <div class="block s1 z5"></div>
    </div>
    <div class="fuenferspalte">
        <div class="block s1 z1"></div>
        <div class="block s1 z3"></div>
        <div class="block s1 z4"></div>
        <div class="block s1 z5"></div>
    </div>

    <!-- S -->
    <div class="fuenferspalte abstandlinks50">
        <div class="block s1 z1"></div>
        <div class="block s1 z2"></div>
        <div class="block s1 z5"></div>
    </div>
    <div class="fuenferspalte">
        <div class="block s1 z1"></div>
        <div class="block s1 z2"></div>
        <div class="block s1 z3"></div>
        <div class="block s1 z5"></div>
    </div>
    <div class="fuenferspalte">
        <div class="block s1 z1"></div>
        <div class="block s1 z3"></div>
        <div class="block s1 z4"></div>
        <div class="block s1 z5"></div>
    </div>

    <div class="fuenferspalte">
        <div class="block s1 z1"></div>
        <div class="block s1 z4"></div>
        <div class="block s1 z5"></div>
    </div>

</div>