.position-spalte-1 {
left: 50px;
}

.position-spalte-2 {
  left: 100px;
}

.position-spalte-3 {
  left: 150px;
}

.position-start {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 50px;
  height: 50px;
  display: block;
background-color: #9eff5b;
  opacity: 0;

}


.position-ende {
  position: absolute;
  animation-name: bounceInDown;
 // animation-duration: 3s; /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: alternate; /* or: normal */
  animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 0ms; /* or: Xms */
  transform-origin:  top;
  opacity: 1;
}

.bounceAndRotate{
  position: absolute;
  animation-name: bounceAndRotate;
  animation-iteration-count: 1;
  animation-direction: alternate; /* or: normal */
  animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 0ms; /* or: Xms */
 // transform-origin:  top;
  opacity: 1;
}

.rotate90{
  animation-name: rotate90;
 animation-duration: 100ms; /* or: Xms */
  animation-iteration-count: 2;
  animation-direction: alternate; /* or: normal */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 200ms; /* or: Xms */
  transform-origin:  top;
}


@keyframes rotate90 {
  from {
    transform-origin: center;
    transform: none;

  }

  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -90deg);

  }
}

@keyframes bounceAndRotate {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  30%{
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -90deg);
  }

  50% {
    transform-origin: center;
    transform: none;
  }


  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);

  }

  to {
    transform: none;
    transform: rotate3d(0, 0, 1, +90deg);

  }
}